# Auto detect text files and perform LF normalization
* text=auto eol=lf

justfile -linguist-detectable
extra/** -linguist-detectable
scripts/** -linguist-detectable
test_*/** -linguist-detectable
snapshots/** -linguist-detectable
