[workspace]
members  = ["crates/*"]
resolver = "2"


	[workspace.package]
	authors     = ["magic-akari <akari.ccino@gmail.com>"]
	description = "A WASM Based Python Formatter"
	edition     = "2021"
	homepage    = "https://github.com/wasm-fmt/ruff_fmt"
	keywords    = ["wasm", "ruff", "python", "formatter"]
	license     = "MIT"
	readme      = "README.md"
	repository  = "https://github.com/wasm-fmt/ruff_fmt"
	version     = "0.5.8"


	[workspace.dependencies]
	ruff_fmt_config       = { path = "crates/ruff_fmt_config" }
	ruff_formatter        = { git = "https://github.com/astral-sh/ruff.git", tag = "v0.4.3" }
	ruff_python_formatter = { git = "https://github.com/astral-sh/ruff.git", tag = "v0.4.3" }


	anyhow             = "1"
	dprint-core        = "0.66.1"
	serde              = "1.0"
	serde-wasm-bindgen = "0.6"
	serde_json         = "1.0"
	testing_macros     = "0.2.12"
	wasm-bindgen       = "0.2.92"


[profile.release]
lto       = true
opt-level = "s"

[patch.crates-io]
unicode_names2 = { path = "crates/unicode_names2_patch" }
