name: Publish

on:
    push:
        tags:
            - "v*"

env:
    CARGO_INCREMENTAL: 0
    CARGO_TERM_COLOR: "always"
    RUST_LOG: "off"

jobs:
    wasm-build:
        name: Wasm build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: taiki-e/install-action@v2
              with:
                  tool: wasm-pack,just
            - name: Build wasm
              run: just build
            - name: Upload
              uses: actions/upload-artifact@v6
              with:
                  name: build
                  path: pkg

    publish-npm:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        needs: wasm-build
        permissions:
            id-token: write
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"
                  registry-url: "https://registry.npmjs.org"
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/
            - name: Publish
              working-directory: pkg
              run: npm publish --provenance

    publish-jsr:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/
            - name: Publish
              working-directory: pkg
              run: npx jsr publish --allow-dirty

    publish-github:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        needs: wasm-build
        permissions:
            packages: write
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"
                  registry-url: "https://npm.pkg.github.com"
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/
            - name: Publish
              working-directory: pkg
              run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    publish-github-release:
        if: startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        needs: wasm-build
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/
            - name: Package
              working-directory: pkg
              run: npm pack
            - name: Release
              uses: softprops/action-gh-release@e798e6a1ede8d07b74ac4cdac6bdfa4cc1653907
              with:
                  files: |
                      pkg/*.tgz
                      pkg/*.wasm
