name: Test

on: [push, pull_request]

env:
    CARGO_INCREMENTAL: 0
    CARGO_TERM_COLOR: "always"
    DIFF: 0
    RUST_LOG: "off"

jobs:
    cargo-fmt:
        name: Cargo fmt
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: cargo fmt -- --check

    cargo-clippy:
        name: Cargo clippy
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: cargo clippy

    cargo-test:
        name: Cargo test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - run: cargo check
            - run: cargo test

    wasm-build:
        name: Wasm build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Install wasm-pack
              run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

            - name: Build wasm
              run: ./crates/ruff_fmt/scripts/build.sh

            - name: Package
              run: npm pack
              working-directory: crates/ruff_fmt/pkg

            - name: Upload
              uses: actions/upload-artifact@v4
              with:
                  name: build
                  path: crates/ruff_fmt/pkg

    node-test:
        runs-on: ubuntu-latest
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v4
              with:
                  name: build
                  path: crates/ruff_fmt/pkg/

            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"

            - run: node --test "**/test_node/*.mjs"

    deno-test:
        runs-on: ubuntu-latest
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v4
              with:
                  name: build
                  path: crates/ruff_fmt/pkg/

            - uses: denoland/setup-deno@v1
              with:
                  deno-version: 2.x

            - run: deno test --allow-read

    bun-test:
        runs-on: ubuntu-latest
        needs: wasm-build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v4
              with:
                  name: build
                  path: crates/ruff_fmt/pkg/

            - uses: oven-sh/setup-bun@v2
              name: Install bun

            - run: bun test test_bun
